---
- name: Create Qbittorrent container
  community.docker.docker_container:
    name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:release-4.6.4
    state: started
    restart_policy: unless-stopped