---
- name: Create Overseer container
  community.docker.docker_container:
    name: overseer
    image: ghcr.io/linuxserver/overseerr:1.28.0
    state: started
    env:
      "PUID": 1002
      "PGID": 1002
      "TZ": "Europe/Lisbon"
    hostname: {{ ansible_hostname }}
    mounts:
      - source: /app/overseerr
        target: /config
        type: bind
        read_only: false
    networks:
      - name: media
      - name: proxy
    restart_policy: unless-stopped